# everything except settingsSelection.json is ignored
.vscode/*
!settingsSelection.json

# workspace file
*.code-workspace

# debug symbols and object files
*.dSYM
*.o
qwirkle

# code history
.history/

# other ide files
.idea
